<div class="user-profile user-card mb-4">
    <div class="card-header border-0 p-0 pb-0">
        <div class="cover-img-block text-center">
            <img src="assets/images/logo-3.png" alt="" width="400px" height="100px" class="img-fluid">
            <div class="overlay"></div>
        </div>
    </div>
    <div class="card-body py-0">
        <div class="user-about-block m-0">
            <div class="row">
                <div class="col-md-4 text-center my-4">

                    <h5 class="mb-1">Las Calandrias</h5>
                    <p class="mb-2 text-muted">Mercado con productos varios</p>
                    <a href="javascript:" class="mb-1 text-muted  text-h-primary"><i
                        class="feather icon-phone mr-2 f-18"></i>+598 26964923</a>
                </div>
                <div class="col-md-8 mt-md-4">
                    <div class="row">
                        <!-- <div class="col-md-6">
                            <a href="javascript:" class="mb-1 text-muted d-flex align-items-end text-h-primary"><i
                                    class="feather icon-globe mr-2 f-18"></i>https://codedthemes.com/submit-ticket/</a>
                            <div class="clearfix"></div>
                            <a href="mailto:demo@domain.com"
                                class="mb-1 text-muted d-flex align-items-end text-h-primary"><i
                                    class="feather icon-mail mr-2 f-18"></i>demo@domain.com</a>
                            <div class="clearfix"></div>
                            <a href="javascript:" class="mb-1 text-muted d-flex align-items-end text-h-primary"><i
                                    class="feather icon-phone mr-2 f-18"></i>+598 26964923</a>
                        </div> -->
                        <div class="col-md-6">
                            <div class="media">
                                <!-- <i class="feather icon-map-pin mr-2 mt-1 f-18"></i> -->
                                <div class="media-body">
                                    <p class="mb-0 text-muted">Solar 14</p>
                                    <p class="mb-0 text-muted">Las Calandrias Manzana 142</p>
                                    <p class="mb-0 text-muted">Ciudad de la Costa</p>
                                    <p class="mb-0 text-muted">Departamento Canelones</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


